.container {
  width: 100%;
  max-width: 1100px;
  min-width: 200px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  border: 1px solid var(--black);
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 600;
}

.btn:hover {
  background: var(--black);
  color: var(--white);
  cursor: pointer;
}

.bg-grid {
  background-size: 20px 20px;
  background-image: linear-gradient(to right, #ebebeb 1px, transparent 1px),
    linear-gradient(to bottom, #f1f1f1 1px, transparent 1px);
  background-position: top center;
  image-rendering: pixelated;
  mask-image: linear-gradient(
    to bottom,
    transparent,
    1%,
    var(--white),
    95%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    1%,
    var(--white),
    95%,
    transparent
  );
  width: 100%;
  /* height: 100dvh; */
  padding-bottom: 200px;
}

.subrayado-fosforito {
  background-color: #ffff00;
  padding: 0.2em;
  display: inline;
  box-decoration-break: clone;
}
