---
import Information from "../components/Information.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout pageTitle="Retos de HTML">
  <header>
    <Navbar src="/img/logos/logo-black.svg" alt="code logo" title="Code Path" />
  </header>

  <div class="bg-grid">
    <Information
      title="Ejercicios HTML"
      text=`Cada reto te presentar치 una situaci칩n real que deber치s resolver utilizando HTML, 
      lo que te permitir치 aplicar lo aprendido y adquirir nuevas habilidades.`
    />
  </div>
</Layout>
