---
import Card from "../components/Card.astro";
import Cards from "../components/Cards.astro";
import Information from "../components/Information.astro";
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout pageTitle="Retos de HTML">
  <header>
    <Navbar src="/img/logos/logo-black.svg" alt="code logo" title="Code Path" />
  </header>

  <div class="bg-grid">
    <Information
      title="Ejercicios HTML"
      text=`Cada reto te presentará una situación real que deberás resolver utilizando HTML, 
      lo que te permitirá aplicar lo aprendido y adquirir nuevas habilidades.`
    />

    <Cards title="HTML (Fácil)">
      <Card
        img
        src="/img/challenges/default.png"
        alt="Componente de inicio de sesión"
        title="Login"
        description="Formulario de registro básico."
        firstBtn
        firstBtnHref=""
        firstBtnText="Demo"
        secondBtn
        secondBtnHref=""
        secondBtnText="GitHub"
      />
    </Cards>
  </div>
  <Footer />
</Layout>
