---
import Layout from "../layouts/Layout.astro";

import Navbar from "../components/Navbar.astro";
import Information from "../components/Information.astro";
import Resources from "../components/Resources.astro";
import Cards from "../components/Cards.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
---

<Layout pageTitle="Code Path">
  <header>
    <Navbar src="/img/logos/logo-black.svg" alt="code logo" title="Code Path" />
  </header>

  <div class="bg-grid">
    <Information
      title="¿Qué encontraras?"
      text=`Code Path es una web que recopila materiales útiles para aprender, practicar y mejorar en programación.
	   Aquí encontrarás una combinación de apuntes teóricos,
	    ejercicios prácticos y recursos adicionales que cubren una amplia variedad de temas relacionados con la programación`
    />

    <Resources />

    <Cards title="Apuntes">
      <Card
        title="HTML"
        description="Apuntes relacionados con html"
        firstBtn
        firstBtnHref="notes/html/bloque-1/01-test"
        firstBtnText="Ver Apuntes"
      />
      <Card
        title="CSS"
        description="Apuntes relacionados con css"
        firstBtn
        firstBtnHref="notes/css/bloque-1/01-test"
        firstBtnText="Ver Apuntes"
      />
      <Card
        title="JavaScript"
        description="Apuntes relacionados con js"
        firstBtn
        firstBtnHref="/"
        firstBtnText="Ver Apuntes"
      />
    </Cards>
  </div>

  <Footer />
</Layout>
