---
import Layout from "../layouts/Layout.astro";

import Navbar from "../components/Navbar.astro";
---

<Layout pageTitle="Code-Path">
  <header>
    <Navbar src="/img/logos/logo-black.svg" alt="code logo" title="Code Path"/>
  </header>

  <h2 style="margin-top: 60px;">Recursos</h2>
  <ul>
    <li><a href="">Retos-HTML</a></li>
    <li><a href="">Retos-CSS</a></li>
  </ul>

  <hr />
  <h2>Apuntes</h2>
  <ul>
    <li><a href="notes/html/bloque-1/01-test">HTML</a></li>
    <li><a href="notes/css/bloque-1/01-test">CSS</a></li>
  </ul>
</Layout>
