---
interface Props {
  title: string;
  subTitle?: string;
}

const { title, subTitle } = Astro.props;
---

<div class="projects container">
  <h2 class="project-title">{title} <span>{subTitle}</span></h2>

  <div class="project-list">
    <slot />
  </div>
</div>

<style>
  .project-title {
    width: 290px;
    margin: 40px auto;
    text-align: center;
    border-bottom: 2px solid var(--black);
    padding-bottom: 5px;
  }

  .project-title span {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .project-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
  }

  @media (min-width: 600px) {
    .project-list {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 1024px) {
    .project-list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
</style>
