---
interface Props {
  title: string;
  text?: string;
}

const { title, text } = Astro.props;
---

<div class="information container">
  <h1 class="information-title">{title}</h1>
  <p class="information-text">
    {text}
  </p>
</div>

<style>
  .information {
    padding-top: calc(40px + 2rem);
  }

  .information-title {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: 900;
  }

  .information-text {
    line-height: 1.2;
    margin-bottom: 10px;
    /* max-width: 1150px; */
    text-wrap: pretty;
  }
</style>
