---

---

<div class="container resources">
  <h3>Recursos</h3>
  <ul class="list">
    <li class="list-item">
      <a href=""> Retos HTML</a>
    </li>
    <li class="list-item">
      <a href="front-end"> Retos CSS</a>
    </li>
  </ul>
</div>

<style>
  .resources {
    margin-top: 20px;
  }
  .list {
    border-radius: 5px;
    padding: 10px 20px;
  }
  .list-item a {
    color: #333;
    font-weight: 600;
    border-bottom: 1px solid black;
    transition: all 0.1s ease;
    display: inline-block;
    margin-bottom: 5px;
    border-bottom: 2px solid transparent;
    text-decoration: underline;

    &:hover {
      font-weight: bold;
    }
  }
</style>
