---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Information from "../../components/Information.astro";
import Projects from "../../components/Projects.astro";
import Footer from "../../components/Footer.astro";
import Card from "../../components/Card.astro";
---

<Layout title="HTML-CSS">
  <Header
    src="../../../public/img/logos/logo-black.svg"
    alt="code logo"
    title="Code Path"
  />
  <div class="bg-grid">
    <Information
      title="Aprende"
      language="CSS"
      body=`Aprende HTML y CSS a través de proyectos. En el README de cada proyecto, encontrarás los pasos....`
    />
    <Projects title="CSS" subTitle="(Vanilla)">
      <Card
        img
        src="../../../public/img/projects/css/login.png"
        alt="Componente de inicio de sesión"
        title="Login"
        description="Formulario de registro básico."
        firstBtn
        firstBtnHref="https://unainavarro.github.io/learn-css/projects/login/index.html"
        firstBtnText="Demo"
        secondBtn
        secondBtnHref="https://github.com/unainavarro/learn-css/tree/main/projects/login"
        secondBtnText="GitHub"
      />
      <!-- <Card
        img
        src="../../../public/img/projects/default.png"
        alt="muestra del proyecto"
        title="Nombre del proyecto"
        description="Aprende JavaScript mediante la realización de proyectos"
        firstBtn
        firstBtnHref="#"
        firstBtnText="Demo"
        secondBtn
        secondBtnHref="#"
        secondBtnText="Github"
      /> -->
    </Projects>
  </div>

  <Footer />
</Layout>
