---
import Layout from "./Layout.astro";
import NotesList from "../components/NotesList.astro";
import Navbar from "../components/Navbar.astro";

const pageTitle = "Apuntes CSS";

const sections = [
  await Astro.glob("../pages/notes/css/bloque-1/*.md"),
  await Astro.glob("../pages/notes/css/bloque-2/*.md"),
];
---

<Layout pageTitle={pageTitle}>
  <header>
    <Navbar src="/img/logos/logo-black.svg" alt="code logo" title="Code Path" />
  </header>

  <h2 style="margin-top: 60px;">CSS</h2>

  {
    sections.map(
      (files) =>
        files.length > 0 && (
          <NotesList title={files[0].frontmatter.block} files={files} />
        )
    )
  }

  <hr />
  <slot />
</Layout>
