---
import Layout from "./Layout.astro";
import NotesList from "../components/NotesList.astro";
import Navbar from "../components/Navbar.astro";

const pageTitle = "Apuntes HTML";

const sections = [
  await Astro.glob("../pages/notes/html/bloque-1/*.md"),
  await Astro.glob("../pages/notes/html/bloque-2/*.md"),
];
---

<Layout pageTitle={pageTitle}>
  <header>
    <Navbar src="/img/logos/logo-black.svg" alt="code logo" title="Code Path" />
  </header>

  <sections class="content-wrapper">
    <aside class="bg-grid">
      <h2 style="margin: 60px 0 10px 0;">HTML</h2>
      <nav>
        {
          sections.map(
            (files) =>
              files.length > 0 && (
                <NotesList title={files[0].frontmatter.block} files={files} />
              )
          )
        }
      </nav>
    </aside>

    <main style="margin-top: 60px;">
      <slot />
    </main>
  </sections>
</Layout>

<style>
  .content-wrapper {
    display: flex;
    height: 100vh;
  }

  aside {
    width: 250px;
    /* background-color: #f4f4f4; */
    padding: 20px;
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
    overflow-y: auto;
    border: 1px solid var(--black);
  }

  main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
  }
</style>
